<header class="app-header navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/orders">
      <img src="assets/logo.svg" alt="Logo" class="img-fluid">
    </a>
    <div class="collapse navbar-collapse justify-content-end">
      <div class="buttons"> 
        <button class="btn" style="margin-right: 1rem;" routerLink="/send-order" routerLinkActive="active">Spedisci Ordine</button>
        <button class="btn" style="margin-right: 1rem;" routerLink="/orders" routerLinkActive="active">Lista delle Spese</button>
        <button class="btn" routerLink="/insert-order" routerLinkActive="active">Nuova Spesa</button>
      </div>
    </div>
  </div>
</header>

