<div class="container justify-content-center" style="margin-left: 10%;">
  <form>
    <div class="row col-12">
      <ng-container *ngFor="let product of products; let i = index">
        <div class="col-md-6">
          <div class="row mb-3">
            <label class="col-md-4 align-items-center justify-content-center">{{ product.name }} - {{ product.price }}
              €</label>
            <div class="col-md-6 custom-select">
              <select type="number" [(ngModel)]="product.quantity" name="productId"
                (change)="onQuantityChange(product.productId, product.quantity)" min="0">
                <option *ngFor="let num of quantityOptions" [value]="num">{{ num }}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Add a clearfix after every second column -->
        <div *ngIf="i % 2 === 1" class="clearfix"></div>
      </ng-container>
    </div>
  </form>
</div>
<div *ngIf= 'emptyProduct'>
  <p>At least one product must be selected</p>
</div>
<div>
  <strong style="margin-left: 67%; font-size: large;">Total order price: {{ totalOrderPrice }} €</strong>
</div>