.is-invalid {
    border: 1px solid red;
}

.custom-select {
    min-width: 40px;
  }
  
  select {
    width: 30%;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #00205b;
    border-radius: 0.25rem;
    color: #00205b;
    cursor: pointer
   }